
#button{
	position: relative;
	left: 10px;
	width: 150px;
	height: 150px;
}

#agents{
	position: relative;
	left: 25px;
	margin-left: 350px;
}

#upgrades{
	float: right;
	position: relative;
	bottom: 450px;
	right: 300px;
}

.Text{
	position: relative;
	bottom: 35px;
}

.Price{
	position: relative;
	bottom: 35px;
	left: 55px;
}

.Count{
	position: relative;
	bottom: 35px;
	left: 55px;
}

.vertical-line-right {
	float: left;
	width: 350px;
	height: 450px;
    border-right: thick solid #ff0000;
}

.vertical-line-left {
	width: 800px;
	height: 450px;
    border-right: thick solid #ff0000;
}

.centralizer{
	text-align: center;
}